@import url('https://fonts.googleapis.com/css2?family=Playfair-Display');


body {
    background-color: white;
    color: black;
    font-family: 'playfair-display', sans-serif;
    padding: 0;
    margin: 0;

}

header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    background-color: #3D90FF;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1001;
}

.logo {
    color:white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 20px;
}

header a {
    text-decoration: none;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li {
    list-style: none;
    margin-left: 20px;
}

.nav-bar ul li a{
    text-align: none;
    text-decoration: none;
    padding: 6px 15px ;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-bar ul li a:hover {
    background: white;
    color: #3D90FF;
}
  
.nav-bar ul li i:hover {
    background: white;
    color: #3D90FF;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.home {
    background-color: #3D90FF;
    color: white;
    overflow: hidden;
}

section h1{
    font-size: 80px;
    font-weight: 600;

}

/**** Wave animations *****/
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(assets/wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate 30s  linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave4 {
    animation: animate2 5s  linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}
/**** End of wave animations *****/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}



