@import url('https://fonts.googleapis.com/css2?family=Poppins');


body {
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
    background-color: #3D90FF;
    color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1001;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.logo {
    color:white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 20px;
   
}

header a {
    text-decoration: none;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li {
    list-style: none;
    margin-left: 20px;
}

.nav-bar ul li a{
    text-align: none;
    text-decoration: none;
    padding: 6px 15px ;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav-bar ul li a:hover {
    background: white;
    color: #3D90FF;
}
  
.nav-bar ul li i:hover {
    background: white;
    color: #3D90FF;
}

/* section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    overflow: hidden;
} */

.home {
    background-color: #3D90FF;
    color: white;
    overflow: hidden;
}

section h1{
    font-size: 80px;
    font-weight: 600;

}

/**** Wave animations *****/
section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(assets/wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate 30s  linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wave.wave4 {
    animation: animate2 5s  linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@keyframes animate2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}
/**** End of wave animations *****/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    width: 500px;
}

.home .row .column img{
    border-radius: 50%;
    width: 400px;
    height: 400px
}

.home .row .column img{
    border-radius: 50%;
    width: 400px;
    height: 400px
}

.about-me {
    background-color: white;
}

.about-me .row .column img{
    border-radius: 50%;
    width: 400px;
    height: 400px
}

.column .text{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}

.dynamic-text{
    color: black;;
}

.dynamic-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #3D90FF;
    border-left: 2px solid black;
    animation: type 4s steps(12) infinite;
}


.skills{
    background-color: #3D90FF;
    background-image: linear-gradient(90deg, #3D90FF 0%, #5404A5 100%);
    color: white;    
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255,255, 0.1), rgba(255, 255, 255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 3.7);
}

.skills-logos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    place-items: center;
    gap: 1.8rem;
}

.skill-logo img{
    width: 100px;
    height: 100px;
    border-radius: 25%;
    background-color: white;
    padding: 20px;
}

.skill-logo:nth-child(2){
    transition-delay: 200ms;
}

.skill-logo:nth-child(3){
    transition-delay: 400ms;
}

.skill-logo:nth-child(4){
    transition-delay: 600ms;
}
.skill-logo:nth-child(5){
    transition-delay: 800ms;
}
.skill-logo:nth-child(6){
    transition-delay: 1000ms;
}
.skill-logo:nth-child(7){
    transition-delay: 1200ms;
}
.skill-logo:nth-child(8){
    transition-delay: 1400ms;
}
.skill-logo:nth-child(9){
    transition-delay: 1600ms;
}
.skill-logo:nth-child(10){
    transition-delay: 1800ms;
}
.skill-logo:nth-child(11){
    transition-delay: 2000ms;
}
.skill-logo:nth-child(12){
    transition-delay: 2200ms;
}
.skill-logo:nth-child(13){
    transition-delay: 2400ms;
}
.skill-logo:nth-child(14){
    transition-delay: 2800ms;
}

@keyframes type {
    40%, 60%{
        left: 100%;
    }
    100% {
        left: 0%;
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.projects {
    background-color: #3D90FF;
    background-image: linear-gradient(90deg, #3D90FF 0%, #5404A5 100%);
    color: white;
}

.contact {
    background-color: #21D4FD;
    background-image: linear-gradient(90deg, #3D90FF 0%, #5404A5 100%);
    color: white;
}